In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('C:\\Users\\HP\\Desktop\\4.sınıf Güz Dönemi\\Profesyonel Yazılım Geliştirme\Profesyonel Yazılım Geliştirme 2\\arabam.com\\Dataset1-4k\\cars-fill-training.csv')

In [3]:
dataset.head()

   fuel  year  selling_price  km_driven  seller_type  transmission  owner
0     1  2007          60000      70000            1             1      1
1     1  2007         135000      50000            1             1      1
2     0  2012         600000     100000            1             1      0
3     1  2017         250000      46000            1             1      1
4     0  2014         450000     141000            1             1      0

In [4]:
#price kolonu dataFrame'in en sonuna eklendi
price = dataset["selling_price"]
dataset.drop("selling_price",axis=1, inplace=True)
dataset["selling_price"] = price

In [5]:
dataset

      fuel  year  km_driven  seller_type  transmission  owner  selling_price
0        1  2007      70000            1             1      1          60000
1        1  2007      50000            1             1      1         135000
2        0  2012     100000            1             1      0         600000
3        1  2017      46000            1             1      1         250000
4        0  2014     141000            1             1      0         450000
...    ...   ...        ...          ...           ...    ...            ...
4271     0  2014      80000            1             1      0         409999
4272     0  2014      80000            1             1      0         409999
4273     1  2009      83000            1             1      1         110000
4274     0  2016      90000            1             1      0         865000
4275     1  2016      40000            1             1      1         225000

[4276 rows x 7 columns]

In [6]:
X = dataset.iloc[:, 0:6].values
y = dataset.iloc[:, 6].values
y = y.reshape(-1, 1)

In [7]:
X

array([[     1,   2007,  70000,      1,      1,      1],
       [     1,   2007,  50000,      1,      1,      1],
       [     0,   2012, 100000,      1,      1,      0],
       ...,
       [     1,   2009,  83000,      1,      1,      1],
       [     0,   2016,  90000,      1,      1,      0],
       [     1,   2016,  40000,      1,      1,      1]], dtype=int64)

In [8]:
y

array([[ 60000],
       [135000],
       [600000],
       ...,
       [110000],
       [865000],
       [225000]], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=0)

In [10]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import chi2


# feature selection
def select_features(X_train, y_train, X_test):
    # configure to select all features
    fs = SelectKBest(score_func=mutual_info_regression, k=3)
    # learn relationship from training data
    fs.fit(X_train, y_train)
    # transform train input data
    X_train_fs = fs.transform(X_train)
    # transform test input data
    X_test_fs = fs.transform(X_test)
    return X_train_fs, X_test_fs, fs

X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)
# what are scores for the features
for i in range(len(fs.scores_)):
    print('Feature %d: %f' % (i, fs.scores_[i]))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Feature 0: 0.120709
Feature 1: 0.397572
Feature 2: 0.094996
Feature 3: 0.153948
Feature 4: 0.126186
Feature 5: 0.097300

### Decision Tree Regressor

In [11]:
from sklearn.tree import DecisionTreeRegressor
regressorFS = DecisionTreeRegressor(random_state = 0)
regressorFS.fit(X_train_fs, y_train)
y_predDTfs = regressorFS.predict(X_test_fs)

In [12]:
from sklearn.metrics import r2_score
DT_RSCOREfs = r2_score(y_test, y_predDTfs)

In [19]:
#DecisionTreeRegressor algoritması parametresiz çalıştırıldığında aldığı değer
DT_RSCOREfs

0.48967586612717606

In [20]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(criterion="absolute_error", splitter="random",min_samples_split=7,random_state = 0)
regressor.fit(X_train, y_train)
y_predDT = regressor.predict(X_test)

In [21]:
from sklearn.metrics import r2_score
DT_RSCORE = r2_score(y_test, y_predDT)

In [22]:
#DecisionTreeRegressor algoritması için parameter tuning yapılması durumunda ulaşılan en yüksek başarım oranı
print(DT_RSCORE)

0.5344976085229363

In [23]:
import joblib
joblib.dump(regressor, "../Models/cars_decision_tree_model.pkl")

['../Models/cars_decision_tree_model.pkl']

### Random Forest Regressor with RandomizedSearchCV

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import r2_score

rf_base_model = RandomForestRegressor()
rf_base_model.fit(X_train,y_train)
y_pred  = rf_base_model.predict(X_test)
RF_RSCORE= r2_score(y_test,y_pred)
print('rf base model r2_score= {}'.format(RF_RSCORE))

C:\Users\HP\AppData\Local\Temp\ipykernel_13020\1020849373.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_base_model.fit(X_train,y_train)

rf base model r2_score= 0.5869644499169387

In [25]:
# RandomizeSearchCV

rf_params = {'criterion': ["squared_error", "absolute_error", "poisson"],
    'max_depth': [80, 90, 100, 110],
    'max_features': ["auto", "sqrt", "log2"],
    'min_samples_leaf': range(1,11),
    'min_samples_split': range(1,15,5),
    'n_estimators': [100, 200, 300,500,1000]}

rf = RandomForestRegressor()
rf_randomcv_model = RandomizedSearchCV(estimator=rf, param_distributions=rf_params, n_iter=200, cv=5, n_jobs=-1, verbose=2).fit(X_train,y_train)
rf_randomcv_model.best_params_
print('rf randomcv model r2_score = {}'.format(rf_randomcv_model.best_score_))

Fitting 5 folds for each of 200 candidates, totalling 1000 fits

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
280 fits failed out of a total of 1000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
280 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1315, in fit
    super().fit(
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 250, in fit
    raise ValueError(
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.6510179  0.64218553        nan 0.63132606        nan 0.62243525
        nan 0.63161612 0.65819953 0.65240161 0.635558          nan
        nan 0.65961383 0.64863544        nan 0.65295851 0.65931628
        nan        nan        nan 0.63558584 0.64039672 0.64635521
 0.66821641 0.65354872 0.63453453 0.55463486 0.63773755 0.61771771
 0.62726744        nan        nan        nan 0.63947539 0.64145509
 0.61790567        nan 0.66495786 0.64368075 0.65145889 0.64430452
 0.66419538 0.57352381 0.65276334 0.54080749 0.63873436 0.62625841
 0.65796676 0.64016849 0.57948231        nan 0.65333786        nan
 0.666421          nan        nan        nan 0.64207994 0.58596524
 0.63408132 0.63983299        nan 0.65134619 0.64259793 0.61630204
        nan 0.6367801         nan 0.62526204 0.64138821        nan
 0.66075132        nan 0.64284833 0.59493423 0.58891106 0.64103122
 0.5545194  0.62481819 0.6412964  0.65453199 0.58472478 0.62734198
        nan 0.56510248 0.61688022        nan 0.64644512 0.66847877
 0.64787395 0.59561529 0.62666263 0.66399958 0.65992302        nan
 0.59533585        nan 0.65783712        nan        nan 0.6424454
 0.62436505        nan        nan 0.662284   0.60728289        nan
 0.63427427 0.61809711        nan        nan        nan 0.63279396
 0.65447486 0.62613938 0.65339028        nan 0.54409903 0.65928665
        nan 0.62292144 0.66497666 0.60492629 0.57867499 0.65651292
 0.66693405 0.65186058 0.66297617 0.63856986        nan        nan
 0.64331086        nan        nan 0.63080307 0.63468589 0.67111819
 0.64714266        nan        nan 0.66478787 0.67164472 0.64155233
 0.63988104 0.65797406        nan 0.6443452  0.62731317 0.60370406
        nan 0.6547866  0.64792855        nan 0.64319204 0.63823997
 0.65008509 0.62289786 0.62710955        nan 0.61813222        nan
 0.55683467 0.64630183 0.58465869 0.66936636 0.61682026 0.66754147
 0.66650875 0.58125996 0.65137975        nan 0.6301266  0.64171721
 0.56405614        nan 0.6629479  0.65647142 0.58445344 0.5765658
 0.6458498  0.65176924 0.63056155        nan 0.6406406  0.65237838
        nan 0.627044          nan 0.62570201 0.66620328        nan
 0.6587196  0.61587687 0.63168548 0.64573633 0.64758183        nan
 0.63245371        nan]
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

rf randomcv model r2_score = 0.6716447154070387

In [27]:
import joblib
joblib.dump(rf_randomcv_model, "../Models/cars_random_forest_model.pkl")

['../Models/cars_random_forest_model.pkl']

### LinearRegression with RandomizedCV

In [28]:
from sklearn.linear_model import LinearRegression

lr_base_model = LinearRegression()
lr_base_model.fit(X_train,y_train)
y_pred  = lr_base_model.predict(X_test)
LR_RSCORE= r2_score(y_test,y_pred)
print('lr base model r2_score= {}'.format(LR_RSCORE))

lr base model r2_score= 0.425960272966426

In [34]:
import joblib
joblib.dump(regressor, "../Models/cars_linear_regression_model.pkl")

['../Models/cars_linear_regression_model.pkl']

### SVR with RandomizedCV

In [38]:
"""
SVR veri seti üzerinde train edildi. Ancak yetersiz başarım oranından dolayı kullanılmayacak.
"""
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

svr_base_model = SVC()
svr_base_model.fit(X_train,y_train)
y_pred  = svr_base_model.predict(X_test)
SVR_RSCORE= r2_score(y_test,y_pred)
print('svr base model r2_score= {}'.format(SVR_RSCORE))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

svr base model r2_score= -0.11346083907173887